.comment {
  word-wrap: break-word;
  white-space: normal;
  font-size: 14px;
  background-color: rgba(255, 255, 255, .7);
  padding: 5px;
  margin-top: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 8px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
  min-width: 20px;
  display: inline-block;
  margin-right: 25px;
  border: 1px solid rgba(255,255,255, 0.2);
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
  z-index: 50000;
}
.author {
  color: rgba(0, 0, 0, .6);
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
}

.string {
  padding-left: 31px;
  margin: 4px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 14px;
  background-color: red;
  right: 0px; /* Adjust as needed */
  top: -10px; /* Adjust as needed */
}

